.spot-details-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;

}

.spot-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.spot-images-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    max-height: 420px;
}

.main-image {
    flex: 2;
    /* grow twice height of siblings */
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.small-images {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-height: 420px;
}

.small-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
