.manage-spots-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0;
    /* Adjust as needed */
}

.button-link {
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    background: linear-gradient(90deg, #3f8ad5, #0056b3);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.button-link:hover {
    background: linear-gradient(90deg, #609bd5, #0369d0);
}

.delete-button {
    margin-top: 10px;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #75333a;
}
