.post-a-review-button {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.post-a-review-button:hover {
    background-color: #ff7878;
}
