/* SignupForm.css */
body {
    font-family: Arial, sans-serif;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.signup-roof {
    width: 0;
    height: 0;
    border-left: 168px solid transparent;
    border-right: 168px solid transparent;
    border-bottom: 140px solid #33a1d8;
    position: relative
}

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.signup-form h1 {
    text-align: center;
}

.signup-form label {
    display: block;
    margin-bottom: 25px;
}

.signup-form input {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}

.signup-form p {
    color: red;
}
