/* ProfileButton.css */

.manage-spots-link {
    color: rgb(64, 64, 145);
    cursor: pointer;

}

.manage-spots-link:hover {
    cursor: pointer;
}

#avatar-button {
    background-color: #0056b3;
    padding-top: 10px;
    padding-bottom: 7px;
    border: 2px solid white;
    border-radius: 8px;
}

#avatar-button:hover {
    border: 2px solid #cccc;
}



.avatar-icon {
    color: white;
    padding: 0px;
    margin-left: 10px;
}

#avatar-button:hover .hamburger-icon,
#avatar-button:hover .avatar-icon {
    color: #cccc;
}

.hamburger-icon {
    color: white;
    padding: 0px;
}
